*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #a6c9ce;
    --secundary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

.entrada {
    background-color: #b91d47;
}
.saida {
    background-color: #00aba9;
}
.total {
    background-color: #e8c3b9;
}

body{
   /* min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
    position:relative;
}

header{
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
    z-index: 100000000;
}

.header-title{
    color: black;
    font-size: 2rem;
}

main{
    margin-top: 80px;
    flex-grow: 1;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    /*width: 100%;*/
    margin-left: 250px;
    /*margin: 5vh auto;*/
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}

@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }

    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}