/* Estilo da Sidebar */
.sidebar {
    height: 100vh; /* altura da sidebar igual à altura da tela */
    width: 250px; /* largura da sidebar */
    position: fixed; /* Fixa a sidebar na lateral */
    /*top: 10.4%;*/
    top: 0;
    left: 0;
    background-color: #f4f4f4; /* cor de fundo */
    color: #000; /* cor do texto */
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-top: 50%;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  
  .sidebar ul li a:hover {
    color: #575757;
    padding: 6px;
    transition: .3s all;
  }
  
  